@model ToDoAddModel;

<form id="to-do-add" asp-action="Post" asp-controller="Home" method="post">
    <table>
        <tr>
            <td><label asp-for="Title"></label></td>
            <td><input asp-for="Title" /></td>
            <td><span asp-validation-for="Title"></span></td>
        </tr>
    </table>

    <input type="submit" value="Add To-Do item" />
</form>
<script>
    (function () {
        let form = document.querySelector("#to-do-add");
        let submit = document.querySelector("#to-do-add input");
        form.addEventListener("submit", (e) => {
            e.preventDefault();

            const postUrl = 'https://localhost:5001/api/ToDoItem/Post';
            const refreshUrl = 'https://localhost:5001/api/Account/refresh';

            const data = {
                Title: submit.value
            };

            fetchWrapper(
                postUrl,
                'POST',
                refreshUrl,
                JSON.stringify(data),
                () => {
                    webSocket.send("send");
                    submit.value = '';
                },
                () => window.location.href = '@Url.Action("Index", "Login")',
                f => f
            );
        })
    }());
</script>