html {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100%;
}

form#login-form {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: auto;
}

form .form-data {
    display: flex;
    flex-direction: row;
}

label {
    font-size: 2em;
    margin: .5em;
}

input {
    font-size: 2em;
    margin: .5em;
}

span .error {
    font-size: 1.5em;
    margin: .5em;
    color: #b62525;
}
